.gender {
    text-align: center;
    padding: 32px;
    background-color: #ccc;
}

.gender h3 {
    font-size: 32px;
    border-bottom: 4px solid rgb(55, 55, 55);
    display: inline-block;
    padding-bottom: 8px;
}